<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: darkgrey; padding: 35px">
        <h1 style="font-size: 45px; color: red; text-align: center;"> Hello, </h1>
        <p>Your Registration Number is:  </p>
        <img src="cetificate.jpg" alt="image">
    
    </div>
    
</body>
</html>